.main {
  max-width: calc(100vw - 25px);
  display: flex;
  justify-content: center;
  margin: 0 25px;
}

.main h1,
.main h3 {
  text-align: center;
}

.homepage_intro {
  margin: 0 25px;
  margin-bottom: 3rem;
  text-align: left;
  line-height: 1.75rem;
}

.feed {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
}
.post {
  max-width: 400px;
  height: auto;
  cursor: pointer;
  text-align: center;
  margin: 25px 0px 20px 0px;
}

.page_title {
  max-width: 400px;
}

.main_image {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 2px black;
}

@media only screen and (min-width: 700px) {
  .main {
    max-width: unset;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .main h3 {
    text-align: center;
    margin: 0 auto;
  }

  .feed {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 25px;
  }

  .post {
    margin: 25px 0px 30px 0px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 1020px) {
  .post {
    margin: 25px 25px 70px 25px;
    max-width: 350px;
  }

  .feed {
    margin: unset;
  }
}

@media only screen and (min-width: 1440px) {
  .main {
    justify-content: center;
    align-items: center;
  }

  .homepage_intro {
    margin: 0 25px;
    margin-bottom: 4rem;
    text-align: justify;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

  .homepage_intro .instructions {
    min-width: 1440px;
    padding: 0 25px;
  }

  .feed {
    max-width: 1440px;
    justify-content: space-between;
    padding: 0;
  }

  .post {
    max-width: 400px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 40px;
  }

  .main_image img {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 1445px) {
  .homepage_intro .instructions {
    max-width: 1440px;
    padding: unset;
  }

  .post {
    margin: 0px 0px 40px 0px;
  }
}
